{{- if .Values.ingress.enabled }}
{{- range .Values.apps }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
spec:
  ingressClassName: {{ $.Values.ingress.className }}
  rules:
    - host: {{ $.Values.ingress.host }}
      http:
        paths:
          - path: /{{ .name }}
            pathType: Prefix
            backend:
              service:
                name: {{ .name }}
                port:
                  number: 80
---
{{- end }}
{{- end }}
